// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

// Home row mods macro
#define HRML(k1,k2,k3,k4,k5) &ht LSHIFT k1  &ht LALT k2  &ht LSHIFT k3  &ht LALT k4  &ht LGUI k5
#define HRMR(k1,k2,k3,k4,k5) &ht LGUI k1  &ht RALT k2  &ht LALT k3 &ht LCTRL k4  &ht LSHIFT k5
#define ROWNUM(c1,c2,c3,c4,c5,c6,c7,c8,c9,c0) &ht N1 c1  &ht N2 c2  &ht N3 c3  &ht N4 c4  &ht N5 c5  &ht N6 c6  &ht N7 c7  &ht N8 c8  &ht N9 c9  &ht N0 c0

#define DEF 0
#define GAM 1
#define RIG 2
#define LEF 3
#define TRI 4

/ {
    behaviors {
        ht: hold_tap {
            label = "hold_tap";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <RIG LEF>;
            then-layer = <TRI>;
        };
    };

    combos {
        compatible = "zmk,combos";
        combo_lenter {
            timeout-ms = <50>;
            key-positions = <2 3>;
            bindings = <&kp ENTER>;
            require-prior-idle-ms = 100ms;
            slow-release: true
        };
        combo_ldel {
            timeout-ms = <50>;
            key-positions = <12 13>;
            bindings = <&kp BSPC>;
            require-prior-idle-ms: 50
            slow-release: true
        };
        combo_lins {
            timeout-ms = <50>;
            key-positions = <22 23>;
            bindings = <&kp DEL>;
            require-prior-idle-ms: 50
            slow-release: true
        };
        combo_renter {
            timeout-ms = <50>;
            key-positions = <6 7>;
            bindings = <&kp ENTER>;
            require-prior-idle-ms = 100ms;
            slow-release: true
            
        };
        combo_rdel {
            timeout-ms = <50>;
            key-positions = <16 17>;
            bindings = <&kp BSPC>;
            require-prior-idle-ms: 50
            slow-release: true
        };
        combo_rins {
            timeout-ms = <50>;
            key-positions = <26 27>;
            bindings = <&kp DEL>;
            require-prior-idle-ms: 50
            slow-release: true
        };
    };

    macros {
        ti_ch: ti_ch {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp MINUS &kp GT>
                ;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  Q       │  W       │  E       │  R       │  T       │   │  Y       │  U       │  I       │  O       │  P       │
  ROWNUM(    Q,         W,         E,         R,         T,             Y,         U,         I,         O,         P)
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  A       │  S       │  D       │  F       │  G       │   │  H       │  J       │  K       │  L       │    ; :   │
            HRML( A,    S,         D,         F,        G)            HRMR( H,      J,        K,           L,      SEMI)
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  Z       │  X       │  C       │  V       │  B       │   │  N       │  M       │ , <      │ . >      │ / ?      │
            &kp Z      &kp X      &kp C      &kp V      &kp B          &kp N      &kp M      &kp COMMA  &kp DOT    &kp SLASH
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                        &lt LEF TAB  &ht LCTRL ESC  &lt RIG SPACE  &ht RALT SQT
        //                                 ╰──────────┴──────────╯   ╰─────────┴──────────╯
            >;
        };

        gaming_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //           │  Q       │  W       │  E       │  R       │   │    Y     │  U       │  I       │  O       │  P       │
             &kp ESC    &kp Q      &kp W      &kp E      &kp R         &trans      &trans      &trans    &trans    &trans   
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //           │  A       │  S       │  D       │  F       │   │          │          │          │          │          │ 
           &kp LSHIFT   &kp A    &kp S        &kp D      &kp F        &trans       &trans     &trans    &trans     &trans
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //           │  Z       │  X       │  C       │  V       │   │          │          │          │          │          │
            &kp LCTRL  &kp Z      &kp X      &kp C      &kp V          &trans      &trans      &trans    &trans     &trans  
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &kp LALT  &kp SPACE      &kp RALT  &lt RIG TAB
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        right_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│ F1       │  F2      │  F3      │  F4      │  F5      │   │ F6       │ F7        │ F8        │ F9     │   F10    │
            &kp F1    &kp F2     &kp F3     &kp F4     &kp F5          &kp F6     &kp F7     &kp F8     &kp F9      &kp F10
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          |   |    LEFT  │  DOWN    │  UP      │  RIGHT   │          │
            HRML( INS,   LCTRL,   BSPC,     DEL,       RET)          &kp LARW   &kp DARW   &kp UARW   &kp RARW    &kp RET 
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          │   │     HOME │PAGE DN   │ PAGE UP  │ END      │          │
            &kp F11     &kp F12    &kp CAPS  &kp INS   &kp LSHIFT     &kp HOME  &kp PG_DN   &kp PG_UP   &kp END    &trans  
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                            &kp LS(TAB) &kp LCTRL        &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        left_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  !       │  @       │  #       │  $       │  %       │   │  ^       │  &       │  *       │  (       │  )       │
            &kp EXCL   &kp AT     &kp HASH   &kp DLLR   &kp PRCNT      &kp CARET  &kp AMPS   &kp ASTRK  &kp LPAR   &kp RPAR
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│     ~    │  `       │          │          │          │   │   |      │  {       │  }       │     [    │  ]       │
         HRML( TILDE,    GRAVE,   &trans,  &trans,     &trans)         &kp PIPE   &kp LBRC  &kp RBRC  &kp LBKT   &kp RBKT
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├────'──────┼──────────┼──────────┼──────────┼─────────┤
        //│          │          │          │          │          │   │           │  =       │  +       │  ->      │   \     │
            &trans      &trans     &trans     &trans     &trans       &kp MINUS   &kp EQUAL   &kp PLUS   &ti_ch    &kp BSLH
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &trans       &lt RIG UNDER &kp MINUS
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        tri_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬───────────┬────────────╮   ╭────────────┬────────────┬──────────┬───────────┬──────────╮
        //│  F1      │  F2      │  F3      │  F4       │ F5      │  │    F6      │    f7      │   f8     │   f9      │  f10     │
            &kp F1     &kp F2     &kp F3     &kp F4     &kp F5            &kp F6      &kp F7        &kp F8     &kp F9      &kp F10 
        //├──────────┼──────────┼──────────┼───────────┼────────────┤   ├────────────┼────────────┼──────────┼───────────┼──────────┤
        //│  BT0     │  BT1     │  F7      │  F8       │ TOGGLE GAME│   │            │ INC BRIGHT │          │  VOL UP   │ f11      │
      &bt BT_SEL 0  &bt BT_SEL 1 &bt BT_CLR_ALL  &trans  &tog GAM         &trans      &kp C_BRI_INC  &trans   &kp C_VOL_UP  &kp F11
        //├──────────┼──────────┼──────────┼───────────┼────────────┤   ├────────────┼────────────┼──────────┼───────────┼──────────┤
        //│  BT3     │  BT4     │ TOGGLEOUT│           │            │   │            │ DEC BRIGHT │          |  VOL DOWN │ f12      │
        &bt BT_SEL 3  &bt BT_SEL 4 &out OUT_TOG  &trans  &bootloader    &bootloader  &kp C_BRI_DEC  &trans   &kp C_VOL_DN &kp F12
        //╰──────────┴──────────┴──────────┼───────────┼────────────┤   ├────────────┼────────────┼──────────┴───────────┴──────────╯
                                                &trans     &trans        &trans     &trans
        //                                  ╰───────────┴──────────╯   ╰──────────┴────────────╯
            >;
        };
    };
};
